.TodoForm {
  position: relative;
}

input:first-child {
  width: 100%;
  padding: 5px 7px;
  font-size: 24px;
  border: 2px solid;
}

input:last-child {
  height: calc(100% - 4px);
  width: 40px;
  padding: 0;
  font-size: 25px;
  font-weight: 700;
  color: white;
  position: absolute;
  top: calc(0px + 2px);
  right: calc(0px + 2px);
  /* right: 0; */
  border: none;
  background-color: #767676;
  cursor: pointer;
}

input:last-child:hover {
  background-color: #2ea849;
}